<div class="main-content">
  <div class="container">
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-2">Product Image</th>
            <th class="col-5">Product Detail</th>
            <th class="col-3">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Image</td>
            <td>Mug</td>
            <td>$15.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
