<div class="main-content">
  <div class="container">
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-2">Product Image</th>
            <th class="col-5">Product Detail</th>
            <th class="col-3">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tempCartItem of cartItems">
            <td>
              <img
                src="{{ tempCartItem.imageUrl }}"
                alt="{{ tempCartItem.name }}"
                class="img-responsive"
                width="150px"
              />
            </td>
            <td>
              <p>{{ tempCartItem.name }}</p>
              <p>{{ tempCartItem.unitPrice | currency:'USD'}}</p>
            </td>
            <td>
                <div class="items">
                    <label>Quantity :</label> {{ tempCartItem.quantity }}
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
